/******

  New fonts

******/

@font-face {
  font-family: PFDinDisplayProBold;
  src: url(/fonts/PFDinDisplayPro-Bold.ttf);
}

@font-face {
  font-family: PFDinDisplayPro;
  src: url(/fonts/PFDinDisplayPro-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: PFDinDisplayPro;
  src: url(/fonts/PFDinDisplayPro-Thin.ttf);
}

@font-face {
  font-family: WebSymbolsLigaRegular;
  src: url(/fonts/websymbolsligaregular.ttf);
}


/******

  Main styles

******/

html {
  background: url('/img/bg_1920_1080.jpg') no-repeat;
  background-size: cover;
}

header {
  font-family: PFDinDisplayProBold, Helvetica, serif;
  padding: 1em 0em;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 170%;
}

h4 {
  font-family: PFDinDisplayProBold, Helvetica, serif;
  font-size: 120%;
  padding: 0.7em 0em;
}

p, .blue-rounded {
 padding: 0.4em 0em; 
}

.container {
  font-family: PFDinDisplayPro, Helvetica, serif;
  color:white;
  text-align: center;
}

.content {
  display: table;
  padding: 1em 0em;
}

.idea {
  display: inline;
}

.web-symbols {
  font-family: WebSymbolsLigaRegular;
  font-size: 200%;
}

a:active, a:link, a:visited {
 color: white; 
}

.counter {
  font-family: PFDinDisplayProBold, Helvetica, serif;
  padding: 3% 0%;
}

.quantity {
  color: #da0b63;
  text-decoration: underline;
}


/******

  Rounded rectangles

******/

.add-ideas, .blue-rounded, .show-ideas {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding: 10px 0px;
  margin: 0 auto;
}

.add-ideas {
  width: 50%;
  background-color: #c1dd08;
}

.blue-rounded {
  width: 65%;
  background-color: #bad0e5;
}

.show-ideas {
  display: none;
  width: 50%;
  background-color: #2cb2da;
}


/******

  Brackets

******/

.lbracket, .rbracket {
  margin: 1em -2em;
  padding: 10.7em 10px;
  border-top: 4px solid #77a5cf;
  border-bottom: 4px solid #77a5cf;
}

.lbracket {
  float: left;
  border-left: 4px solid #77a5cf;
}

.rbracket {
  float: right;
  border-right: 4px solid #77a5cf;
}